h1 {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}
.products-item {
  font-family: Helvetica;
  font-weight: bold;
}
.products-item h2 {
  color: white;
  font-size: 32px;
  background-color: mediumspringgreen;
  color: white;
}

.products-item h3 {
  font-family: Helvetica;
  font-weight: bold;
  color: black;
}

.products-item p:first-child {
  font-family: Helvetica;
}
.products-item p:last-child {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}
