.products-item {
  font-family: Helvetica;
}

.header-1 {
  background-color: mediumspringgreen;
}
.container {
  position: relative;
  display: inline-block;
  text-align: center;
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
}
.main-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container img {
  opacity: 50%;
}
.products-item h2 {
  color: white;
  font-size: 32px;
  color: white;
}

.products-item h3 {
  font-family: Helvetica;
  font-weight: bold;
  color: black;
}

.products-item p:first-child {
  font-family: Helvetica;
  font-weight: normal;
}

.products-item p:last-child {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}

.header-2 {
  background-color: lightcoral;
}

.header-3 {
  background-color: skyblue;
}
