ul {
  padding-inline-start: 0;
  margin-block-start: 0;
}

.products-item {
  font-family: Helvetica;
}

.header-1 {
  background-color: mediumspringgreen;
}

.main-header {
  background-image: url("../images/BG.png");
  text-align: center;
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  opacity: 80%;
  background-size: 3000px;
  margin: 60px 0px;
}

.products-item h2 {
  color: white;
  font-size: 32px;
  color: white;
}

.products-item h3 {
  font-family: Helvetica;
  font-weight: bold;
  color: black;
}

.products-item p:first-child {
  font-family: Helvetica;
  font-weight: normal;
}

.products-item p span {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}

.header-2 {
  background-color: lightcoral;
}

.header-3 {
  background-color: skyblue;
}
